.title_silder_small {
    background-color: #FFF;
    width: 83.2%;
    margin: auto auto 1% 6.5%;
    padding: 1%;
    font-size: 12px;
    opacity: 0.8;
    text-align: center;
}
.hover_bac {
	background-color: #F0F0F0;
	position: absolute;
	width: 120px;
	text-align: center;
	padding: 98px 53px 105px;
	top: 5%;
	left: 10%;
	opacity: 0.5;
	right: 3%;
	bottom: 22.5%;
}
.hover_bac a{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #218748;
	text-decoration:none;
}
.on {
    color: #f90;
    font-size: 12px;
}
.flowslider_box{
	width: 100%;
	z-index: 99;
	margin:auto;
	}
.slider-horizontal {width:1066px; height:280px;}
.www_FlowSlider_com-branding{display:none;visibility:hidden;}
.slider-vertical {width:364px; margin:25px 0; float:left; height:300px;}
.slider-vertical .item {height:80px; width:324px; margin:10px 0 10px 20px;}
td{
	vertical-align:middle;
}
.btn_all{
	margin-top:-50px;
	}
.btn-left, .btn-right {
	visibility:hidden;
	cursor: pointer;	
	text-decoration: none;
	font-weight: bold;
}
.nav_slide_button {
	width: 540px;
}
.menu_slide_outer a {
	text-decoration: none;
}
.nav_slide_button a {
	float: right;
	margin-left: 10px;
}
.slider-horizontal .item {
    margin-left: 0px;
	margin-top: 0px;
	padding: 10px;
	margin-right: 10px;
	position:relative;
}

.slider-horizontal img {
    max-width: none;
    width: 130px;
}
.menu_slide_outer {
	background-color: #F0F0F0;
	padding: 10px;
	width: 945px;
	}
.our_dest_dynamic{
	padding:20px;
}
