@charset "utf-8";
/* CSS Document */
html, body {
	margin:0;
	padding:0;
	}
.main_new{
	position:fixed;
	width:100%;
	z-index:1;
	top:0;
	}
.main_detial{
	position:absolute;
	z-index:2;
	width: 100%;
	background-color: #FFFFFF;
	top:100%;
	}
.detial_in{
	width: 73%;
	margin: 5% auto auto;
	}
.title_detial_in{
	font-family:"Lato",Calibri,Arial,sans-serif;
	font-size:18px;
	color:#666;
	text-align:left;
	padding-bottom:2%;
	}
.three_img{
	overflow:auto;
	margin:auto;
	widows:100%;
	margin-bottom:1%;
	}
.set_big_img{
	width:49%;
	float:left;
	margin-right:0.5%;
	}
.set_two_img{
	width:24%;
	float:left;
	margin-right:0.5%;
	margin-left:0.5%;
	}
.four_img{
	overflow: auto;
	margin: auto;
	width: 100%;
	margin-left: -0.5%;
	}
.set_four_img{
	width:24%;
	float:left;
	margin-right:0.5%;
	margin-left:0.5%;
	}
.text_under_img{
	font-family:"Lato",Calibri,Arial,sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#D3C480;
	text-align:left;
	width:73%;
	margin:auto;
	overflow:auto;
	margin-top:2%;
	margin-bottom:2%;
	}
.connect{
	float:left;
	width:25%;
	border-left:1px solid #333;
	padding-top:1%;
	padding-bottom:3%;
	padding-left:1%;
	}
.text_under_img_detial{
	font-family:"Lato",Calibri,Arial,sans-serif;
	font-size:13px;
	color:#3D3835;
	text-align:left;
	width:73%;
	margin:auto;
	overflow:auto;
	}
.text_under_img_detial_in{
	width:25%;
	float:left;
	}
.location_img{
	width: 73%;
	margin: 5% auto auto;
	padding-right:0.7%;
	border: 1px solid #ccc;
	}
.scroll_down{
	width:100%;
	background-color:#6F6F6F;
	float:left;
	
	}
.scroll_text{
	font-family:"Lato",Calibri,Arial,sans-serif;
	font-size:13px;
	color:#FFF;
	text-align:center;
	cursor:pointer;
	width:10%;
	margin:auto;
	padding: 0.65%;
	}
	
.simble{
	float:right;
	margin-right:5%;
	}
.simble_down{
	float:right;
	margin-top:5.5%;
	}
.slide_menu{
	background-color:#101010;
	width:100%;
	}
.logo_slide{
	overflow:auto;
	margin:auto;
	width:13%;
	padding-top:2%;
	margin-bottom:2%;
	}
.logo_left{
	float:left;
	width:25%;
	margin-top:4%;
}
.logotext_right{
	float:right;
	width:72%;
	margin-top:3%;
	margin-left:3%;
}
.pic_menu_slide{
	overflow:auto;
	margin:auto;
	width:80%;
	padding-bottom:3%;
}
.pic_menu{
	width:100%;
	float:left;
	margin-bottom:1%;
	}
.pic_menu_click{
	width:100%;
	float:left;
}
.bloc_pic_menu{
	float:left;
	width:13%;
	}
.space{
	float:left;
	margin:2.2%;
}
.border{
	border-bottom:1px solid #f2f2f2;
	float: left;
	width: 100%;
	margin-top: 3%;
}
.button{
	overflow:auto;
	width:100%;
	padding-top:3%;
}
.btn_pre{
	float:left;
	width:3%;
	cursor:pointer;
}
	.btn_next{
	float:right;
	width:3%;
	cursor:pointer;
}
.btn_text{
	color:#FFFFFF;
	float:left;
	width:80%;
	margin-top:0.3%;
	font-size:16px;
	text-align:center;
	margin-left:6%;
}
.btn_text_space{
	float: left;
	margin-right: 6%;
	margin-left: 5%;
}
.content{
	width:80%;
	margin:auto;
	margin-top:3%;
	overflow:auto;
}
.content1{
	width:80%;
	margin:auto;
	margin-top:3%;
	overflow:auto;
	background-color:#f1f1f1;
}
.bloc_icon_menu{
	width: 25%;
	float: right;
	color:#000;
}
.bloc_small_icon{
	width:20%;
	float:left;
	text-align:center;
	cursor:pointer;
}
.space_icon_menu{
	float:left;
	padding:4%;
	width:20%;
}
.tit_menu{
/*float:left;*/
}
.menu_text{
	margin-top: 10%;
	float: right;
}
.new_title{
	font-size:13px;
}
.menu_text ul{
	margin-top:3%;
}
.menu_text ul li{
	list-style:none;
	line-height:35px;
	text-align:right;
	border-bottom: 1px solid #E0E0E9;
	font-size:13px;
}
.hid{
	display:none;
}
.bloc_slide{
	float:left;
	width:55%;
	
}
.under_bloc_slide{
	/*background-color:#000;*/
	width:100%;
	margin-top:1%;
	color:#000;
	text-align:center;
	padding-bottom:2%;
	padding-top:2%;
	text-align:right;
}
.our_philo{
	font-size:30px;
	font-family:Impact;
	color:#000;
	text-align:right;	
}
.our_philo1{
	font-size:30px;
	font-family:Impact;
	color:#000;
	text-align:right;
	margin-top:20%;
	float:right;
	width:100%;	
}
.our_philo2{
	font-size:13px;
	font-family:"Conv_TrajanPro-Regular";
	color:#000;
	text-align:right;
	margin-top:15%;
	float:right;
	width:100%;	
}
.our_philo_detail{
	font-size:13px;
}
.under_bloc_slide1{
	
	background-color:#000;
	width:100%;
	margin-top:1%;
	color:#f2f2f2;
	text-align:center;
	overflow:auto;
	padding-bottom:2%;
	padding-top:2%;
	cursor:pointer;
}
.inside{
	padding-bottom:3.5%;
	padding-top:3.5%;
	display:none;
	text-align: justify;
width: 51%;
margin: auto;
font-size: 13px;
}
.point_down{
	float:right;
	width:6%;
	margin-right:2%;
}
.small_text{
	font-size:10px;
	margin-right:5%;
}
.kozu{
	font-family:'Open Sans', sans-serif;
	font-weight:100;
}
.bloc_social{
	width: 11%;
	float:right;
	margin-top:15%;
}
.social{
	width: 100%;
	margin-bottom:50%;
}
.bloc_icon{
	overflow:auto;
}
table tbody tr td{
	margin:0;
	padding:0;
}
.content_villa{
	width:98%;
	margin:auto;
	background-color:#FFFFFF;
}
.menu_and_text{
	width:100%;
	overflow:auto;
	margin-top:1%;
}
.menu_and_text1{
	width:100%;
	overflow:auto;
	margin-top:1%;
	background: -moz-linear-gradient(351deg, #2a2932 0%, #00cab5 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 351deg, color-stop(0%, #2a2932), color-stop(100%, #00cab5));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(351deg, #2a2932 0%, #00cab5 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(351deg, #2a2932 0%, #00cab5 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(351deg, #2a2932 0%, #00cab5 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a2932', endColorstr='#00cab5', GradientType='1'); /* for IE */
background: linear-gradient(99deg, #2a2932 0%, #00cab5 100%);/* W3C */
}
.logo_text{
	font-size:30px;
	margin-left:3%;
	float:left;
	margin-top:1%;
	font-weight:bold;
}
.menu_villa{
	float:right;
	width:25%;
	background-color:#00BE9C;
	padding:1%;
}
.menu_villa1{
	float:right;
	width:25%;
	padding:1%;
}
.inline_menu_villa{
	float:left;
	width:33%;
	text-align:center;
	color:#f2f2f2;
	font-size:15px;
}
.slide_left_and_bloc_text{
	overflow:auto;
}
.slide_left{
	float:left;
	width:67%;
}
.bloc_text{
	float:right;
	background-color:#0C0F22;
	width:33%;
	padding-bottom:3%;
}
.detail_text_left{
	color:#f2f2f2;
	font-size:20px;
	margin-left:5%;
	margin-top:8%;
	width:40%;
	padding-bottom:5%;
	float:left;
}
.detail_small_text{
	font-size:13px;
	margin-top:40%;
	
}
.detail_small_text1{
	font-size:13px;
	margin-top:24%;
	
}
.detail_text_right{
	color:#f2f2f2;
	font-size:15px;
	margin-left:10%;
	margin-top:8%;
	width:45%;
	padding-bottom:5%;
	float:left;
}
.three_list{
	border-bottom:1px solid #FFF;
	padding-bottom:2%;
	padding-top:0%;
}
.text_bottom{
	color:#f2f2f2;
	border-bottom:1px solid #f2f2f2;
	border-top:1px solid #f2f2f2;
	padding-bottom:1.5%;
	padding-top:1.5%;
	float:left;
	width:95%;
	margin-left:5%;
	margin-bottom:5%;
}
.combo{
	width:30%;
	border:1px solid #f2f2f2;
	text-align:center;
	float:left;
}
.share_social{
	float:right;
	margin-right:5%;
}
.btn{
	float:left;
	background-color:#00BE9C;
	border:1px solid #00BE9C;
	padding-left:0%;
	padding-right:0%;
	padding-bottom:0%;
	padding-top:0%;
	margin-left:40%;
	width:30%;
	text-align:center;
	margin-top:3%;
	}
	.kozu{font-family:'Open Sans', sans-serif;font-weight:100;}
	.navi_left{
		width:50%;
		float:left;
		
	}
	.menu_div{
		float: left;
		color: #F2F2F2;
		width: 15%;
		text-align: center;
	}
	.sub_menu{
		background-color:#0C0F22;
		float:left;
		width:100%;
		padding-bottom:1%;
		padding-top:1%;
	}
	.para{
		margin-left:4%;
	}
	.title_lu{
		margin-top:10%;
	}
	.para_detail{
		margin-top:5%;
	}
	.slide_right{
		width:50%;
		float:left;
	}
	.slide_full_width{
		margin-top:1%;
	}
	.big_title{
		font-size:50px;
		text-align:center;
		margin-top:3%;
		margin-bottom:3%;
	}
	.our_philo_detail1{
		color:#000;
		text-align:left;
		font-size: 13px;
width: 100%;
float:right;
text-align: justify;
margin-top:3%;
	}
	.our_philo_detail2{
		color:#000;
		text-align:left;
		font-size: 13px;
width: 50%;
float:right;
text-align: right;
margin-top:0%;
	}
	.right_size{
		float:right;
		width:50%;
	}
	.logo_three{
		font-size:20px;
		color:#f2f2f2;
		text-align:center;
		margin-top:5%;
		font-family:Impact;
	}
	.content_title{
		text-align:center;
		font-size:40px;
		padding-top:3%;
		/*border-top:10px solid #f1f1f1;*/
		margin-bottom:3%;
		color:#000;
	}
	.float_left_black{
		width:28.12%;
		padding-left:5%;
		background-color:#000;
		color:#f2f2f2;
		padding-top:3%;
		padding-bottom:3%;
		float:left;
		
	}
	.footer_areas{
		background-color:#000;
		overflow:auto;
		margin-bottom:1%;
		width:80%;
		margin:auto;
	}
	.float_seven{
		overflow:auto;
		border-top:10px solid #f1f1f1;
		margin-bottom:0.7%;
		width:80%;
		margin:auto;
	}
	.float_first{
		width:33.12%;
		float:left;
		margin-right:0.2%;
	}
	.float_second{
		float:left;
		width:66.56%;
	}
	.flost_first_one{
		margin-bottom:0.8%;
	}
	.float_second_one{
		margin-bottom:0.4%;
	}
	.float_second_one1{
		float:left;
		width:50.2%;
		margin-bottom:0.4%;
		border-right:4px solid #f2f2f2;
	}
	.float_second_one2{
		float:left;
		width:49.8%;
		margin-bottom:0.4%;
		}
		.icon_and_text{
			overflow:auto;
			margin:auto;
			width:80%;
			margin-bottom:3%;
			margin-top:3%;
			font-family:Arial, Helvetica, sans-serif;
			
		}
		.a{
			width:10%;
			float:left;
			margin-top:2%;
			margin-left:7%;
			color:#000;
		}
		.floatone{
			width:25%;
			float:left;
			margin-right:1%;
		}
		.icon{
			border:1px solid #000;
			width:100%;
			overflow:auto;
			margin-bottom:1%;
			font-size:13px;
		}
		.article{
			width:74%;
			float:left;
			border:1px solid #000;
		}
		.icon_float{
			float:left;
		}
		.art{
		line-height:140%;
			    width: 80%;
    margin: auto;
    text-align: justify;
    color: #000;
	margin-bottom:8.5%;
	font-size:13px;
}.art1{
	font-family:Impact;
	font-size:15px;
	color: #F2F2F2;
background-color: #000;
width: 20%;
text-align: center;
margin-bottom:8%;
}
		.menu_icon{
			float:left;
			margin-left:5%;
			color:#000;
			margin-right:10%;
			margin-top:2%;
			width:10%;
		}
		.menu_icon1{
			float:left;
			margin-left:3%;
			color:#000;
			margin-top:2%;
		}
	.location_border{
		width:80%;
		color:#000;
		margin:auto;
		}
		.loc{
		font-family:Impact;
		margin-bottom:1%;
		}
		.border_map{
		border:1px solid #000;
		padding-bottom:15%;
		padding-top:15%;
		margin-bottom:2%;
		}
		.structure{
		width: 80%;
margin: auto;
color: #000;
position: relative;
margin-bottom: 10%;
margin-top:10%;
		}
		.structure_one{
		background-color:#fff;
		text-align: center;
		font-size:23px;
/*position: absolute;*/
/*bottom: 94%;*/
/*left: 42%;*/
padding-left:1%;
padding-right:1%;
		}
		.border_stru{
width: 50%;
margin: auto;
padding: 2%;
padding-left: 1px solid #000;
/*border-left: 1px solid !important;
border-right: 1px solid !important;
border-top: 1px solid !important;
*/		}
		.one{
		float:left;
		border:1px solid #000;
		padding:1%;
		width:25%;
		margin-right:12.5%;
		margin-bottom:10%;
		}
		.one1{
		float:left;
		border:1px solid #000;
		padding:1%;
		width:25%;
		}
		.three_person{
		overflow:auto;
		width:66%;
		margin:auto;
		}